/* ABOUT */

.headerDos .navAbout {
    background-color: #66F9AD !important;
    width: 80%;
    border-radius: 15px;


}

.headerDos .navAbout .navi {
    margin: 0%;
}

.headerDos {
    display: flex;
    justify-content: center;


}

.boAbout {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
}

.navbar-navDos {
    margin: 0%;
}

.nav-link {
    font-family: quiet-sans, sans-serif !important;
    font-style: normal !important;
    font-weight: 600 !important;
}


.naviDos {
    display: flex;
    justify-content: space-between;
}

.boxLogo-btn {
    display: flex;
}

/* Book Appoiment Button */

.boAbout {
    background-color: #02382E;
    border-radius: 40px;
    margin-bottom: 10px;
    margin-top: 10px;

    padding-right: 0%;

}

.bookAbout {
    font-family: quiet-sans, sans-serif !important;
    font-style: normal !important;
    color: rgb(255, 255, 255) !important;
    font-weight: 100 !important;
    font-size: 10px !important;
}

.boAbout:hover {
    background-color: #deffa4a9;
}

.bookAbout:hover {
    color: #090909 !important;
}

.boAbout2 {
    display: none;
}

.boAbout2 {
    background-color: #02382E;
    border-radius: 40px;
    margin-bottom: 10px;
    margin-top: 10px;

    padding-right: 0%;

}

.bookAbout2 {
    font-family: quiet-sans, sans-serif !important;
    font-style: normal !important;
    color: rgb(255, 255, 255) !important;
    font-weight: 100 !important;
    font-size: 10px !important;
}

.boAbout2:hover {
    background-color: #deffa4a9;
}

.bookAbout2:hover {
    color: #090909 !important;
}

.logoAb2 {
    display: none;
}

/* .whatsfloat {
    color: #02382E;
}

.whatsfloat img {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 20px;
    bottom: 60px;
    z-index: 100; } */

.prtadaAbout {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.prtadaAbout p {
    color: #090909;
    margin-top: 10px;
    padding: 10px;

    font-family: quiet-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.textoAbout {
    padding: 40px;

    background-color: #66F9AD;
    border-radius: 20px;

    text-align: center;
}

.prtadaAbout h2 {
    font-family: quiet-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #090909;
}

.prtadaAbout h3 {
    font-family: quiet-sans, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #00F77B;

    text-align: center;
    margin-bottom: 20px;
}


.imgTextAbout {
    border-radius: 25px;
    border: solid 10px;
    color: #00F77B;

    margin-top: 25px;
}

.sectionTresAbount {
    margin-top: 25px;
}

.ucan h3 {
    margin-top: 25px;

    font-family: quiet-sans, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #02382E;
}

.trust h3 {
    font-family: quiet-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #02382E;
}

.sectionTresAbount .txtUcan-About {
    font-family: quiet-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #02382E;

    padding-left: 15px;
    padding-right: 15px;

    text-align: center;
}

.secTres {
    background-color: #DDFFA4;
    border-radius: 15px;

    padding: 0%;
    width: 70%;
}

.licencias img {
    width: 80px;
    height: 80px;

    padding: 15px;
    margin: 15px;
}

.licencias {
    flex-wrap: wrap !important;
}


.txtTituloCEO {
    text-align: center;

    font-family: quiet-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #02382E;

    padding-top: 25px;
}

.ricardo {
    margin-top: 30px;
}

.ricardo p {
    font-family: quiet-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #090909;
}

.ricardo span {
    font-family: quiet-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #090909;
}

.ricardo h2 {
    font-family: quiet-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #090909;
}

.cajaDeRichardMonile {
    display: none;
}

.graphy-box p {

    font-family: quiet-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;

    padding: 15px;
}

.graphy-box {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 600px;

    background-color: #02382E;
    border-radius: 20px;
}

.graphy-box img {
    max-width: 200px;
    height: auto;
    padding-top: 20px;
}


.footer-content {
    background-color: #65e9a4;
    margin-top: 25px;
    border-radius: 20px;
    
    flex-wrap: wrap !important;
}

.footer-logo {
    display: flex;
    justify-content: start;    
}

.footer-logo img {
    margin-top: 50px;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
    align-items: start;

    flex-wrap: wrap;
    border-bottom: 3px solid white;
}

.footer-column {
    padding: 2%;
    margin-bottom: 30px;
}


.footer-image img {
    width: 100%;
    height: auto;
}

.footer-image {
    /* margin-left: 100px; */
    margin-bottom: 50px;
}

.footer-columns ul li a {
    text-decoration: none;
    font-family: quiet-sans, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #090909 !important;
    font-size: 20px !important;
}

.footer-columns h4 {
    font-family: quiet-sans, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    color: #090909 !important;
}

.footer-columns ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.policy-content {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    
}

.terms-content {
    display: flex;
    justify-content: space-between;
}

.terms-content p {
    padding-left: 10px;
}



.policy-content .reserved p {
    font-family: quiet-sans, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #090909 !important;
}

.terms-content a {
    text-decoration: none;
    font-family: quiet-sans, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #090909 !important;
}

.social {
    display: flex;
}


.social .faceBook img {
    width: 10px;
}

.social .twitter img {
    width: 20px;
}

.social .instagram img {
    width: 20px;
}

.social a {
    padding: 5px;
}

.bookAppoimentFooter {
    text-decoration: none;
    font-family: quiet-sans, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color:#ffffff !important;
    padding: 10px;
    border-radius: 20px;
    background-color: #02382E;
}

.locationColumn ul {
    margin-bottom: 25px;
}

.menuMobile {
    display: none;
}


@media screen and (max-width: 991px) {
    .logoAb {
        display: none;
    } 
    
    .boAbout {
        display: none;
    }

    .boAbout2 {
        display: block;
    }

    .logoAb2 {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .cajaDeRichardMonile {
        display: block !important;
    }

    .cajaDeRichard {
        display: none !important;
    }

    .prtadaAbout {
        margin-top: 30px;
    }


    
}

@media screen and (max-width: 470px) {
    .footer-column ul li a {
        font-size: 15px !important;
        
    }
    
    .policy-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social {
        margin-bottom: 10px !important ;
    }

    nav {
        display: none !important;
    }

    /* MENU MOBILE */
    .menuMobile {
        display: block !important;
        background-color: #66f9adb4;

        position: fixed !important;
        top: 0%;
        z-index: 100 !important;
    }

    .clikMenu {
        max-width: 50px;
        margin-top: 0px;
        margin-left: 10px;
    }

    .logoMobileN {
        max-width: 160px;
        margin-left: 35px !important;
        margin-top: 5px;
    }

    .menuMobile-scroll {
        background-color: #66f9adcb;
    }

    .menuMobile {
        width: 100% !important;
    }

    .offcanvas-header {
        background-color: #33f896 !important;
    }

    .offcanvas-body {
        background-color: #ffffff !important;
    }

    .offcanvas-body P {
        color: #C9FBE2;
    }

    .imgBodyOfcanvas img {
        max-width: 150px;
    }

    .menuList-img {
        display: flex;
        max-width: 100%;
    }

    .imgBodyOfcanvas {
        max-width: 40% !important;
        margin-left: 6%;
    }


    .navMenuMobil {
        flex-direction: column;
        justify-content: center;
        align-items: start;

        list-style: none !important;
        padding: 0%;
    }


    .navMenuMobil li {
        text-align: center;
    }

    .navMenuMobil li a {
        text-decoration: none;
        font-family: quiet-sans, sans-serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
        color: #02382E !important;
        font-size: 35px;
        
    }

    .contactUsMenuMobile {
        margin-top: 15%;
        align-items: center;
        margin-bottom: 85%;
    }

    .contactUsMenuMobile h2 {
        font-family: quiet-sans, sans-serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
        color: #02382E !important;
        font-size: 35px;
        padding: 18px;
    }

    .contactUsMenuMobile .bookAppoiment .btn {
        background-color: #02382E;
        border-radius: 25px;
        text-decoration: none;
        font-family: quiet-sans, sans-serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
        color: #ffffff !important;
        font-size: 15px;
        padding: 12px;
    }

    .contactUsMenuMobile .bookAppoiment .btn:hover{
        background-color: #DDFFA4;

        font-family: quiet-sans, sans-serif !important;
        font-weight: 600 !important;
        font-style: normal !important;
        color: #090909 !important;
    }

    .redesMenuOffCanvas {
        display: flex;
        justify-content: space-around;
    }

    .imgRedesMenuOffCanvas {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .imgRedesMenuOffCanvas img {
        margin-inline: 5px;
    }


    .faceBookMenu{
        max-width: 12px;
    }

    .twitterMenu {
        max-width: 24px;
    }

    .instagramMenu {
        max-width: 24px;
    }

    .imgOpenOffCanva {
        max-width: 150px !important;
    }


    .portadaTablet {
        display: none !important;
    }

    .portadaTaMobile {
        display: block !important;
    }

    .logoMobile {
        max-width: 140px;
        margin-right: 115px;
        margin-top: 20px;
    }

.prtadaAbout {
    margin-top: 80px;
}

}

@media screen and (max-width: 430px) {
    .contactUsMenuMobile h2 {
        font-size: 30px;
    }
    
    .contactUsMenuMobile a {
        font-size: 20px;
    }

    .navMenuMobil li a {
        font-size: 30px;
    }

    .logoMobileN {
        max-width: 150px !important;
        margin-left: 50px !important;
    }

}

@media screen and (max-width: 415px) {
    .contactUsMenuMobile h2 {
        font-size: 27px;
    }
    
    .contactUsMenuMobile a {
        font-size: 16px;
    }

    .navMenuMobil li a {
        font-size: 25px;
    }

}




@media screen and (max-width: 375px) {
    .logoMobileN {
        max-width: 150px !important;
        margin-left: 30px !important;
    }

    .contactUsMenuMobile h2 {
        font-size: 25px;
    }
    
    .contactUsMenuMobile a {
        font-size: 14px;
    }

    .navMenuMobil li a {
        font-size: 25px;
    }
}

@media screen and (max-width: 360px) {
    .contactUsMenuMobile a {
        font-size: 12px;
    }

    .contactUsMenuMobile h2 {
        font-size: 25px;
    }

    .logoMobileN {
        max-width: 150px !important;
        margin-left: 20px !important;
    }

    
}



/* MODAL FORM BOOK */

/* Estilos del modal */
.bookModal {
    display: none; /* Oculta el modal por defecto */
    position: fixed; /* Lo posiciona en la pantalla */
    z-index: 1; /* Lo pone encima de otros elementos */
    left: 25%;
    top: 3%;
    width: 50% !important;
    height: 100%;
    overflow: auto; /* Permite hacer scroll si el contenido es muy largo */
    background-color: rgba(0, 0, 0, 0.87) !important; /* Fondo semi-transparente */
    border-radius: 10px;
  }

  /* Estilo de la barra de scroll */
.bookModal::-webkit-scrollbar {
    width: 5px;
  }
  
  .bookModal::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  
  .bookModal::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 20px;
  }
  
  .bookModal::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Centra el modal en la pantalla */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-top: 5%;
    border-radius: 20px !important;
  }
  
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 95%;
    color: #ffffff;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Estilos del formulario */

  .modal-content h4 {
    color: #00F77B;
    margin-bottom: 5%;
    text-align: center;
  }

  .modal-content .field {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .modal-content .field label {
    margin-bottom: 0.5rem;
    color: #00F77B;
  }
  
  .modal-content .field input[type="text"] {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
  }
  
  .modal-content input[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .modal-content input[type="submit"]:hover {
    background-color: #3e8e41;
  }


  @media screen and (max-width: 470px) {
    .bookModal {
        display: none; /* Oculta el modal por defecto */
        position: fixed; /* Lo posiciona en la pantalla */
        z-index: 1; /* Lo pone encima de otros elementos */
        left: 0%;
        top: 0%;
        width: 100% !important;
        height: 100%;
        overflow: auto; /* Permite hacer scroll si el contenido es muy largo */
        background-color: rgba(0, 0, 0, 0.76); /* Fondo semi-transparente */
      }

  }