/* NavBar */

.navheader {
    z-index: 10;
    background-color: #00f77c00;
    position: fixed;
    top: 0;
}

.navheader.scrolled {
    background-color: #66f9adb4 !important;
}

.animate__animated.animate__fadeInDown {
    --animate-duration: 2.5s;
}

#navbarSupportedContent {
    margin-right: 260px !important;
    margin-left: 230px !important;
    margin-top: 5px !important;
}

.logoDesktop {
    max-width: 250px !important;
    margin-left: 150px !important;
}

.menuMobile {
    display: none;
}

/* Book Appoiment Button */

.bookAppoiment {
    background-color: #02382E;
    border-radius: 40px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.bookAppoimentTxt {
    font-family: quiet-sans, sans-serif !important;
    font-style: normal !important;
    color: rgb(255, 255, 255) !important;
    font-weight: 100 !important;
    font-size: 10px !important;
}

.bookAppoiment:hover {
    background-color: #deffa4a9;
}

.bookAppoimentTxt:hover {
    color: #090909 !important;
}

.logoMobile {
    display: none;
}

.portadaTaMobile {
    display: none !important;
}

.portadaTablet {
    display: none !important;
}

.slideHomeMobile {
    display: none !important;
}


.navbar-nav {
    font-family: quiet-sans, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #090909 !important;
    align-items: center;
}

/* SECTION #2 */

.sectionDos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.titleIndex h3 {
    font-family: quiet-sans, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    color: #02382E;

    text-align: center;
}

.titleIndex h4 {
    font-family: quiet-sans, sans-serif !important;
    font-weight: 800 !important;
    font-style: normal !important;
    color: #00F77B;

    text-align: center;
}

.boxTxtOrtodoncia p {
    font-family: quiet-sans, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #090909 !important;
    margin-bottom: 0% !important;

    margin-top: 60px;
    font-size: 30px;
}

.contenidoSectionDos {
    margin-top: 50px;
}


.becomeButton {
    background-color: #00F77B;
    border-radius: 40px;
    margin-top: 140px;
    padding: 8px;
}

.becomeButton a {
    text-decoration: none;
    font-family: quiet-sans, sans-serif !important;
    font-weight: 100 !important;
    font-style: normal !important;
    color: #090909 !important;
    padding: 30px;
    font-size: 16px !important;
}

.becomeButton:hover {
    background-color: #02382E;
}

.becomeButton a:hover {
    color: #ffffff !important;
}

.uCanTrust {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.boxUcanTrust {
    margin-top: 120px;
    border-radius: 30px;
    background-color: #DDFFA4;
    max-width: 68% !important;

}

.uCanTrust h3 {
    font-family: quiet-sans, sans-serif !important;
    font-weight: 800;
    font-style: normal !important;
    color: #02382E;
    padding-top: 30px;
}

.TRUST-US {
    font-weight: 600 !important;
    color: #02382E !important;
    padding-top: 0px !important;
}

.licencias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.licencias img {
    max-width: 130px;
    padding: 20px;
}

.sectionCuatro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 70px;
}

.tittleSecCuatroUno {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittleSecCuatroUno .tittleUnique {
    padding: 5px;
    font-family: quiet-sans, sans-serif !important;
    font-weight: 800;
    font-style: normal !important;
    color: #00F77B;
}

.tittleSecCuatroUno .tittleFeatures {
    padding: 5px;
    font-family: quiet-sans, sans-serif !important;
    font-weight: 600;
    font-style: normal !important;
    color: #02382E;
}

.tittleSecCuatroDos h3 {
    padding: 5px;
    font-family: quiet-sans, sans-serif !important;
    font-weight: 600;
    font-style: normal !important;
    color: #02382E;
}

.slideHome {
    max-width: 70% !important;
    margin: 0 auto !important;
    margin-top: 20px !important;
}

.sectionCinco {
    margin-top: 0px;
    position: relative;
}

.timeline {
    margin-top: 50px;
}

.buttonEligible {
    position: absolute;
    bottom: 10.5%;
    right: 42.5%;

    background-color: #00F77B;
    border-radius: 10px;
    max-width: 250px !important;
    text-align: center;
    padding: 15px;
}

.buttonEligible a {
    text-decoration: none;
    font-family: quiet-sans, sans-serif !important;
    font-weight: 200 !important;
    font-style: normal !important;
    color: #090909 !important;
    padding: 5px;
}

.buttonEligible:hover {
    background-color: #02382E;
}

.buttonEligible a:hover {
    color: #00F77B !important;
}

.faqsTxt {
    font-family: quiet-sans, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    color: #02382E !important;
    padding: 5px;
}

.accordion-item {
    background-color: #00f77c71 !important;

}

.accordion-button {
    background-color: #C9FBE2 !important;

    font-family: quiet-sans, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    color: #02382E !important;
    padding: 5px;
}

.accordion-body {
    font-family: quiet-sans, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #02382E !important;
    padding: 5px;
}

.sectionUnlimit {
    font-family: quiet-sans, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    background-color: #02382E;
    color: white;
    border-radius: 30px;
    margin-top: 25px;

    max-width: 50% !important;
}

.contenidoUnlimit {
    padding-inline: 25px !important;
    padding-block: 25px !important;

    display: flex;
    flex-direction: column;
    justify-content: end !important;
    align-items: start;
    padding-left: 50px !important;

}

.imgUnlimit {
    background-size: cover;
    background-position: center;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.imgUnlimit img {
    max-width: 200px;
}

.contact {
    display: flex;
    align-items: end;
}

.contactImput {
    background-color: #02382E;
    border: solid 2px #C9FBE2;
    border-radius: 25px !important;

}

.contactImput::placeholder {
    text-align: center;
    text-justify: center;
}

.contactImput[type=text] {
    color: #ffffff;
}

.ContactButton {
    margin-left: 10px;
    border-radius: 25px !important;
    background-color: #00F77B !important;
    color: #090909;
    border-color: #00F77B;

    font-family: quiet-sans, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}




.footer-content {
    background-color: #65e9a4;
    margin-top: 25px;
    border-radius: 20px;
    
    flex-wrap: wrap !important;
}

.footer-logo {
    display: flex;
    justify-content: start;    
}

.footer-logo img {
    margin-top: 50px;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
    align-items: start;

    flex-wrap: wrap;
    border-bottom: 3px solid white;
}

.footer-column {
    padding: 2%;
    margin-bottom: 30px;
}


.footer-image img {
    width: 100%;
    height: auto;
}

.footer-image {
    margin-bottom: 50px;
}

.footer-columns ul li a {
    text-decoration: none;
    font-family: quiet-sans, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #090909 !important;
    font-size: 20px !important;
}

.footer-columns h4 {
    font-family: quiet-sans, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    color: #090909 !important;
}

.footer-columns ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.policy-content {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    
}

.terms-content {
    display: flex;
    justify-content: space-between;
}

.terms-content p {
    padding-left: 10px;
}



.policy-content .reserved p {
    font-family: quiet-sans, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #090909 !important;
}

.terms-content a {
    text-decoration: none;
    font-family: quiet-sans, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #090909 !important;
}

.social {
    display: flex;
}


.social .faceBook img {
    width: 10px;
}

.social .twitter img {
    width: 20px;
}

.social .instagram img {
    width: 20px;
}

.social a {
    padding: 5px;
}

.bookAppoimentFooter {
    text-decoration: none;
    font-family: quiet-sans, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color:#ffffff !important;
    padding: 10px;
    border-radius: 20px;
    background-color: #02382E;
}

.locationColumn ul {
    margin-bottom: 25px;
}

/* Responsive + NavBar */

/* Desktop*/
@media screen and (max-width: 2560px) {
    .logoDesktop {
        max-width: 280px !important;
        margin-left: 605px !important;
        margin-top: 5px;
    }

    #navbarSupportedContent {
        margin-right: 350px !important;
        margin-left: 315px !important;
        margin-top: 15px !important;
    }

    .buttonEligible {
        position: absolute;
        bottom: 12%;
        right: 47%;

        /* padding: 1% !important; */
    }
}

@media screen and (max-width: 2304px) {
    .buttonEligible {
        bottom: 12.5%;
        right: 46.9%;

        padding: 10px;
    }

    .logoDesktop {
        max-width: 280px !important;
        margin-left: 470px !important;
        margin-top: 5px;
    }
}


@media screen and (max-width: 2050px) {
    #navbarSupportedContent {
        margin-right: 290px !important;
        margin-left: 260px !important;
        margin-top: 15px !important;
    }

    .logoDesktop {
        max-width: 280px !important;
        margin-left: 390px !important;
    }
}


@media screen and (max-width: 1920px) {
    .logoDesktop {
        max-width: 280px !important;
        margin-left: 340px !important;
    }


    #navbarSupportedContent {
        margin-right: 290px !important;
        margin-left: 260px !important;
        margin-top: 15px !important;
    }

    .buttonEligible {
        bottom: 11%;
        right: 43.7%;

        padding: 10px;
    }

    .sectionUnlimit {
        max-width: 68% !important;
    }

}

@media screen and (max-width: 1680px) {
    .logoDesktop {
        margin-left: 270px !important;
        max-width: 250px !important;
    }

    #navbarSupportedContent {
        margin-right: 240px !important;
        margin-left: 210px !important;
        margin-top: 15px !important;
    }

    .licencias img {
        max-width: 120px !important;
    }

    .boxUcanTrust {
        max-width: 55% !important;
    }

    .buttonEligible {
        position: absolute;
        bottom: 11%;
        right: 43%;
    }

    .sectionUnlimit {
        max-width: 55% !important;
    }

    .contenidoUnlimit {
        margin-left: 0px;
    }
}

@media screen and (max-width: 1440px) {
    .logoDesktop {
        max-width: 170px !important;
        margin-left: 240px !important;
    }

    #navbarSupportedContent {
        margin-right: 195px !important;
        margin-left: 170px !important;
        margin-top: 20px;
    }

    .portadaTaMobile {
        display: none !important;
    }

    .portadaTablet {
        display: none !important;
    }

    .sectionDos {
        max-width: 70% !important;
    }

    .boxTxtOrtodoncia p {
        font-size: 20px !important;
    }

    .becomeButton {
        padding: 6px;
    }

    .becomeButton a {
        font-size: 20px;
        padding: 15px;
    }

    .licencias img {
        max-width: 140px !important;
    }

    .sectionTres {
        max-width: 90% !important;
    }

    .sectionCinco {
        margin-top: 10px !important;
    }

    .buttonEligible {
        bottom: 12%;
        right: 45%;
    }

    .titleIndex h4 {
        text-align: center;
    }

    .uCanTrust h3 {
        padding-top: 30px;
    }

    .licencias img {
        max-width: 150px;
        padding: 35px;
    }

    .boxUcanTrust {
        max-width: 65% !important;
    }

    .timeline {
        margin-top: 5%;
    }

    .sectionUnlimit {
        max-width: 50% !important;
    }

}

@media screen and (max-width: 1366px) {
    .licencias img {
        max-width: 150px;
        padding: 35px;
    }

    .logoDesktop {
        max-width: 170px !important;
        margin-left: 200px !important;
    }
}

@media screen and (max-width: 1280px) {
    .licencias img {
        max-width: 130px;
        padding: 30px;
    }

    .logoDesktop {
        max-width: 200px !important;
        margin-left: 135px !important;
    }

}

/* Laptop */
@media screen and (max-width: 1024px) {

    #navbarSupportedContent {
        margin-right: 140px !important;
        margin-left: 120px !important;
        margin-top: 20px;
    }

    .boxTxtOrtodoncia p {
        font-size: 13px !important;
        margin-top: 30px !important;
    }

    .becomeButton {
        padding: 4px;
        margin-top: 50px;
    }

    .licencias img {
        max-width: 100px !important;
        padding: 20px;
    }

    .uCanTrust h3 {
        padding-top: 20px;
    }

    .buttonEligible {
        bottom: 11.5%;
        right: 43.5%;
    }

    .sectionUnlimit {
        max-width: 90% !important;
    }

    .slideHome {
        max-width: 95% !important;
    }

}

/* Tablet */
@media screen and (max-width: 834px) {
    .logoDesktop {
        display: none !important;
    }


    .logoMobile {
        display: block;
    }

    .logoMobile {
        max-width: 170px;
        margin-right: 305px;
        margin-top: 25px;
    }

    .portadaDesktop {
        display: none !important;
    }

    .portadaTaMobile {
        display: none !important;
    }

    .portadaTablet {
        display: block !important;
    }

    #navbarSupportedContent {
        margin-right: 0px !important;
        margin-left: 10px !important;
        margin-top: 0px !important;
    }

    .navbar-nav {
        display: flex !important;
        flex-direction: column !important;
        justify-content: start !important;
        align-items: start !important;


    }

    .portadaTablet {
        width: 100%;
    }

    .contenidoSectionDos {
        margin-top: 30px;
    }

    .licencias img {
        max-width: 100px;
        padding: 20px;
    }

    .uCanTrust h3 {
        padding-top: 30px;
    }

    .boxUcanTrust {
        max-width: 80% !important;
    }

    .buttonEligible {
        position: absolute;
        bottom: 11%;
        right: 42.5%;

        padding: 1%;
    }

    .sectionCinco {
        margin-top: 10px;
    }

    .UnlimitedPower {
        flex-wrap: wrap;
    }

    .unlimitImg {
        max-width: 70% !important;
    }

    .slideHome {
        max-width: 90% !important;
        margin: 0 auto !important;
        margin-top: 50px !important;
    }

    .slideHome {
        margin: 0 auto !important;
        margin-top: 50px !important;
        max-width: 100% !important;
    }

    .sectionUnlimit {
        max-width: 85% !important;
    }

    .bookAppoiment {
        max-width: 100px !important;
    }
}

@media screen and (max-width: 768px) {
    .logoMobile {
        max-width: 170px;
        margin-right: 275px;
        margin-top: 25px;
    }

    .contenidoSectionDos {
        max-width: 100% !important;
    }

    .boxTxtOrtodoncia p {
        margin-top: 20px !important;
    }

    .boxUcanTrust {
        max-width: 90% !important;
    }
}

@media screen and (max-width: 768px) {
    .footer-logo {
        justify-content: center !important;
    }

    .footer-logo img {
        margin-top: 15px !important;
    }

    .footer-columns {
        max-width: 100% !important;
    }

    .policy-content {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    .footer-columns {
        display: flex;
        justify-content: space-around !important;       
    }  
    
}



/* Mobil */

@media screen and (max-width: 470px) {
    nav {
        display: none !important;
    }

    .sectionUno {
        margin-top: 10px;
    }

    /* MENU MOBILE */
    .menuMobile {
        display: block !important;

        position: fixed !important;
        top: 0%;
        z-index: 100 !important;
    }

    .clikMenu {
        max-width: 50px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .logoMobileN {
        max-width: 160px;
        margin-left: 75px !important;
    }

    .menuMobile-scroll {
        background-color: #65e9a4;
    }

    .menuMobile {
        width: 100% !important;
    }

    .offcanvas-header {
        background-color: #33f896 !important;
    }

    .offcanvas-body {
        background-color: #ffffff !important;
    }

    .offcanvas-body P {
        color: #C9FBE2;
    }

    .navMenuMobil {
        list-style: none !important;

        flex-direction: column;
        padding: 0%;

    }

    .navMenuMobil li {
        margin: 10px;
        background-color: #00F77B;
        max-width: 20%;
        text-align: center;
        border: solid 3px c;
        border-radius: 40px;
    }

    .navMenuMobil li a {
        text-decoration: none;
        font-family: quiet-sans, sans-serif !important;
        font-weight: 400 !important;
        font-style: normal !important;
        color: #02382E !important;
        padding: 5px;

    }

    .imgOpenOffCanva {
        max-width: 150px !important;
    }


    .portadaTablet {
        display: none !important;
    }

    .portadaTaMobile {
        display: block !important;
    }

    .logoMobile {
        max-width: 140px;
        margin-right: 115px;
        margin-top: 20px;
    }

    .navbar-toggler {
        margin-left: 8px;
        margin-top: 25px;
    }

    #navbarSupportedContent {
        margin-right: 0px !important;
        margin-left: 8px !important;
        margin-top: 0px !important;
    }



    .boxImgOrtodoncia {
        max-width: 100%;
    }

    .becomeButton {
        margin-top: 30px;
    }

    .uCanTrust {
        margin-top: 10px;
    }

    .boxUcanTrust {
        margin-top: 70px;
    }

    .sectionCuatro {
        margin-top: 55px;
    }

    .slideHome {
        display: none !important;
    }

    .slideHomeMobile {
        display: block !important;

        max-width: 100% !important;
    }

    .buttonEligible {
        position: absolute;
        bottom: 10%;
        right: 38.5%;

        padding: 1% !important;
    }

    .buttonEligible a {
        font-weight: 400 !important;
        font-size: 15px !important;
    }

    .unlimitImg {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .sectionUnlimit {
        max-width: 93% !important;
    }

    .footer-column ul li a {
        font-size: 15px !important;
        
    }
    
    .policy-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social {
        margin-bottom: 10px !important ;
    }
    

}

  

@media screen and (max-width: 425px) {
    .logoMobileN {
        max-width: 160px;
        margin-left: 54px !important;
    }
}

@media screen and (max-width: 393px) {
    .logoMobileN {
        max-width: 160px !important;
        margin-left: 45px !important;
    }

    .clikMenu {
        max-width: 60px;
    }

    .navbar-toggler {
        margin-left: 5px;
        margin-top: 25px;
    }

    #navbarSupportedContent {
        margin-right: 0px !important;
        margin-left: 8px !important;
        margin-top: 0px !important;
    }


    .buttonEligible {
        position: absolute;
        bottom: 10.5%;
        right: 37%;

        padding: 0px !important;
        padding-inline: 8px !important;
    }

    .buttonEligible a {
        font-weight: 200 !important;
        padding: 0%;
    }



}

@media screen and (max-width: 375px) {

    .logoMobileN {
        max-width: 160px !important;
        margin-left: 35px !important;
    }

    .clikMenu {
        max-width: 60px;
    }

    .navbar-toggler {
        margin-left: 0px;
        margin-top: 25px;
    }

    #navbarSupportedContent {
        margin-right: 0px !important;
        margin-left: 5px !important;
        margin-top: 0px !important;
    }

}

@media screen and (max-width: 360px) {
    .logoMobile {
        margin-right: 80px;
        margin-top: 20px;
    }

    .navbar-toggler {
        margin-left: 0px;
        margin-top: 25px;
    }

    #navbarSupportedContent {
        margin-right: 0px !important;
        margin-left: 5px !important;
        margin-top: 0px !important;
    }
}

